.zoomable{
	position: absolute;
}
.zoomable > .zoomed{
	transition: opacity 0.5s;
	opacity: 0;
	position: absolute;
	top:0;
	left: 0;
	pointer-events: none;
	max-height: none!important;
	max-width: none!important;
}
.zoomable.active > .zoomed{
	opacity: 1;
	transition: opacity 0.5s;
}