html, body{
	margin: 0;
	padding: 0;
	position: relative;
}

#container1{
	max-height: 100%;
	max-width: 100%;
	overflow: hidden;
}

#container1 img:not(.zoomed){
	max-height: 100%;
	max-width: 100%;
	width: auto;
	height: auto;
	display: block;
}
#container2{
	margin-top: 15px;
	height: 100px;
}
#container2 img{
	max-height: 100%;
}
#container2 .zoomArea{
	height: 100px;
	width:100px;
	display: inline-block;
}
#container3{
	margin-top: 15px;
	height: 300px;
	margin-left: 1000px;
}
#container3 img{
	max-height: 100%;
}
#container4{
	margin-top: 15px;
	width: 300px;
}
#container4 > img{
	width: 100%;
	height: auto;
}
#container5{
	margin-top: 15px;
	width: 1000px;
}
#container5 > img{
	width: 1000px;
	height: 200px;
}